<tr>
    <td>
        <select 
            name="category" 
            id="id_category"
            hx-get="{% url 'laundry:htmx_get_package_options' %}"
            hx-target="#id_package"
            hx-trigger="change"
            hx-swap="innerHTML"
            class="form-select"
        >

            <option value="" selected disabled>Select Category</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <select 
            name="package" 
            id="id_package"
            hx-get="{% url 'laundry:htmx_get_package_details' %}"
            hx-target="#price-delivery-details"
            hx-trigger="change"
            hx-swap="innerHTML"
            class="form-select"
        >
            <option value="" selected disabled>Select Service Type</option>
        </select>
    </td>
    <td>
        {{ form.name }}
        
    </td>
    <td>
        {{ form.color }}
    </td>
    <td colspan="2" id="price-delivery-details">    
        {#  N/A<br>N/A  #}
    </td>
</tr>
